{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwitchTalk</title>

   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Link Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>

<div class="nav-area">
    <!-- TOP NAVBAR / REGISTRATION | LOGIN -->
    <header class="navbar">
        <nav>
            <div class="nav-wrapper">
                <ul class="right">
                    {% if user.is_authenticated %}
                    <!-- <li><a href="{% url 'addthread' %}">Add Post</a></li> -->
                    <li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>

                    {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li id="li-login"><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <!-- THE LOGO between navbars -->
    <h1 class="align-middle">TwitchTalk</h1>

        <nav>
            <div class="nav-wrapper">
                <ul class="left">
                    <li><a href="{% url 'home' %}">Forums</a></li>
                    <li><a href="{% url 'games' %}">Games</a></li>
                </ul>
            </div>
        </nav> 
</div>

    <!-- END base --> 
    <main>
    {% block content %}
    {% endblock %}
    </main>

    <!-- FOOTER -->
<!-- 
    <footer class="footer">
        <div>2021 TwitchTalk &nbsp</div>
    </footer> -->
</body>
</html>