{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwitchTalk</title>


<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<!-- Link Styles -->
 <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<!-- JavaScript Bundle with Popper -->
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

   
</head>
<body>

<div class="nav-area p-3">
    <!-- TOP NAVBAR / REGISTRATION | LOGIN -->
<!--     <header class="navbar">
        <nav>
            <div class="nav-wrapper">
                <ul class="right">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'addthread' %}">Add Post</a></li>
                    <li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>

                    {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li id="li-login"><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header> -->

    <nav class="navbar navbar-expand-lg main-navbar-color shadow">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <!-- <li><a href="{% url 'addthread' %}">Add Post</a></li> -->
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">{{ user.username }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                <li class="nav-item" id="li-login"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>

    <!-- THE LOGO between navbars -->
    <h1 class="title-logo">TwitchTalk</h1>

  <!--       <nav>
            <div class="nav-wrapper">
                <ul class="left">
                    <li><a href="{% url 'home' %}">Forums</a></li>
                    <li><a href="{% url 'games' %}">Games</a></li>
                </ul>
            </div>
        </nav> 
</div> -->

<nav class="navbar navbar-expand-lg main-navbar-color shadow">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Forums</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'games' %}">Games</a></li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- END base --> 
    <main>
    {% block content %}
    {% endblock %}
    </main>

    <!-- FOOTER -->
<!-- 
    <footer class="footer">
        <div>2021 TwitchTalk &nbsp</div>
    </footer> -->
</body>
</html>