{% extends 'base.html' %}
{% block content %}

<!-- Thread HEADER -->
<div class="container">
  <h2 id="thread-title">Threads

    <!-- Add Post AUTH Filter -->
    {% if user.is_authenticated %}
<!--     <a id="addButton" href="{% url 'addthread' %}">Add Post</a> -->
    <a class="btn" id="addButton" href="{% url 'addthread' %}">Add Post</a>

    {% else %}
    <a class="btn" id="addButtonBlock">Add Post</a>

    {% endif %}
  </h2>


<!-- THREADS LIST -->
{% for thread in threads %}
  <div class="card">
    <div class="card-content">
      <p>Created by: {{thread.user}}</p>
      <span class="card-title">{{ thread.title }}</span>
      <p>{{ thread.description }}</p>
      <p>{{ thread.created_at }} PST</p>
      <a href="{% url 'thread' thread.id %}" class="btn btn-primary">See Post</a>
    </div>
  </div>
  {% endfor %}
  </div>

{% endblock %}