{% extends 'base.html' %}
{% block content %}

<!-- Thread HEADER -->
<div class="container">
<h2 id="thread-title">Threads</h2>

<form method="POST">
  {% csrf_token %}
  {{thread_form.as_p}}
<input type="submit" class="btn" value="Add Thread">
</form>

<!-- THREADS LIST -->
{% for thread in threads %}
  <div class="card">
    <div class="card-content">
      <p>Created by: {{thread.user}}</p>
      <span class="card-title">{{ thread.title }}</span>
      <p>{{ thread.description }}</p>
      <p>{{ thread.created_at }} PST</p>
    </div>
  </div>
  {% endfor %}
  </div>

{% endblock %}