{% extends 'base.html' %}
{% block content %}

<div class="container">
<h2 class="page-content-header">{{ game.title }}</h2>

<div class="card">
  <div class="card-content" id="game-content">
    <img src="{{ game.image.url }}" alt="Logo">
    <p>{{ game.title }}</p>
    <hr>
    <p class="game-description">{{ game.description }}</p>
    </div>
  </div>

  {% for thread in threads %}
  <div class="card">
    <div class="card-content">
      <span class="thread-user">{{thread.user}} posted:</span>
      <h1><a class="post-title" href="{% url 'thread' thread.id %}"class="card-title">{{ thread.title }}</a></h1>
      {% if thread.description > thread.description|slice:":255" %}
        <span class="post-description">{{ thread.description|slice:":255"}}</span>
        <a class="post-title" href="{% url 'thread' thread.id %}">See more...</a>
      {% else %}
        <p class="post-description">{{ thread.description }}</p>
      {% endif %}
     
      <p>
        <a class="game-category" href="{% url 'showgame' thread.game.id %}">{{ thread.game }}</a>
        <span class="created-at">{{ thread.created_at }} PST</span>
      </p>
    </div>
  </div>
  {% endfor %}
</div>



{% endblock %}