{% extends 'base.html' %}
{% block content %}

<div class="container">
<h2>Thread</h2>

<div class="card">
  <div class="card-content">
    <p>Created by: {{thread.user}}</p>
    <span class="card-title">{{ thread.title }}</span>
    <p>{{ thread.description }}</p>
    <p>{{ thread.created_at }} PST</p>
    <a href="{% url 'editthread' thread.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'deletethread' thread.id %}" class="btn btn-primary">Delete</a>
  </div>
</div>


<!-- ADD COMMENT -->
<div class="card-body">
  <h3>Leave a comment</h3>
  <form method="POST"> <!-- needs action -->
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </form>
</div>

<!-- COMMENTS -->
{% for comment in comments %}
  <div class="card">
      <div class="card-content">
       <p>{{ comment.user }} replied:</p>
      <p>{{ comment.body }}</p>
      <p>{{ comment.created_at }} PST</p>
      </div>
  </div>
{% endfor %}
</div>

{% endblock %}