{% extends 'base.html' %}
{% block content %}

<div class="container">
<h2>Thread</h2>

<div class="card">
  <div class="card-content">
    <p>Created by: {{thread.user}}</p>
    <span class="card-title">{{ thread.title }}</span>
    <p>{{ thread.description }}</p>
    <p>{{ thread.created_at }} PST</p>
  </div>
</div>


<!-- COMMENTS -->
<!-- {% for comment in thread.comment %}
  <div class="card">
      <div class="card-content">
        <p>Description: </p>
        <p>Replied on: </p>
      </div>
  </div>
{% endfor %} -->
</div>

{% endblock %}