nav {
    background-color: #6441A4;
}

* {
    font-family: "Helvetica";
    font-weight: 600 !important;
}

a {
    font-size: 18px !important;
}

h2 {
    font-size: 25px !important;
}

footer {
    padding-top: 0;
    text-align: right;
}