nav {
    background-color: #6441A4;
    border-radius: 10px 10px 10px 10px;
    height: 50px;
}

* {
    font-family: "Helvetica";
    font-weight: 600 !important;
}

a {
    font-size: 18px !important;
    height: 50px;
    line-height: 50px;
}

#drop {
    color: black;
}

.nav-area {
    padding: 0px 10px 10px 10px;
}

#li-login {
    padding-right: 5px;
}

h2 {
    font-size: 25px !important;
    margin: 0px;
    background: #322D3D;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 10px 10px 10px;
    color: white;
}

#addButton {
    float: right;
    text-transform: none !important;
}

#addButtonBlock {
    float: right;
    text-transform: none !important;
}

#addButtonBlock:hover:after {
    content: "(Must be logged in)";
    font-style: italic;
    font-size: 10px;
}

img {
    width: 144px;
    height: 192px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#game-links {
    line-height: 0px;
}

#game-content {
    text-align: center;
}